    body {
      font-family: 'Sono', sans-serif;
      background-color: darkkhaki;
    }

    .pricing-container {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-content: center;
      height: 90vh;
      gap: 20px;
    }

    .pricing-plan {
      background-color: rgb(48, 47, 47);
      color: antiquewhite;
      border-radius: 8px;
      padding: 20px;
      /* min-width: 300px; */
      flex: 0 1 280px;
      text-align: center;
    }

    li {
      list-style: none;
    }
    
    .plan-title {
      font-size: 1.2rem;
    }
    .plan-price {
      font-size: 2rem;
    }

    .plan-title, .plan-price, .plan-button {
      margin: 5px;
    }

    li {
      text-align: left;
    }

    button {
      background-color: #ff6600;
      color: whitesmoke;
      font-weight: bolder;
      padding: 8px 10px;
      border-radius: 8%;
      border: none;
    }

    @media (max-width: 1020px) {
      .pricing-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        /* margin: 40px; */
      }
      .pricing-plan, .plan-title, ul {
        padding-bottom: 20px;
      }
      .plan-button {
        width: 100%;
        border-radius: 2%;
        padding: 10px;
      }
    }